<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Css/main.css" />
    <title>販売管理システム</title>
  </head>
  <body>
    <header>
      <button id="purchasing">仕入処理</button>
      <button id="sale">販売処理</button>
      <button id="stockList">在庫一覧</button>
      <div id="total">
        <h2 id='totalSales'>売上合計金額 : </h2>
        <h2 id='totalProfit'>利益合計金額 : </h2>
      </div>
    </header>
    <main>
      <section>
        <h2>＜販売状況＞</h2>
        <div id="btnArea">
          <button id="narrowing">絞り込み</button>
          <button id="todaySale">今日の販売</button>
          <button id="lift">解除</button>
        </div>
      </section>
      <table>
        <thead>
          <tr>
            <th>選択</th>
            <th>商品名</th>
            <th>販売価格</th>
            <th>仕入価格</th>
            <th>仕入日</th>
            <th>販売日</th>
            <th>販売数</th>
            <th>売上</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </main>
    <script type="module" src="../wwwroot/js/Views/main.js"></script>
  </body>
</html>
