<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Css/purchasing.css" />
    <title>仕入処理</title>
  </head>
  <body>
    <h2>商品名</h2>
    <input type="text" />
    <h2>仕入数</h2>
    <input type="text" />
    <h2>仕入価格</h2>
    <input type="text" />
    <h2>販売価格</h2>
    <input type="text" />
    <h2>仕入日</h2>
    <input type="date" />
    <footer>
      <button>決定</button>
      <button id='return'>戻る</button>
    </footer>

    <script type="module" src="../wwwroot/js/Views/purchasing.js"></script>
  </body>
</html>
