<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Css/sale.css" />
    <title>販売処理</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>選択</th>
          <th>商品名</th>
          <th>在庫数</th>
          <th>販売数</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <h2>販売数</h2>
    <input id='saleQuantity' type="number" />
    <h2>販売日</h2>
    <input id='seleDate' type="date" />

    <footer>
      <button id='decision'>決定</button>
      <button id="return">戻る</button>
    </footer>

    <script type="module" src="../wwwroot/js/Views/sale.js"></script>
  </body>
</html>
