<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Css/stockList.css" />
    <title>在庫一覧</title>
  </head>
  <body>
    <h2>＜在庫一覧＞</h2>
    <table>
      <thead>
        <tr>
          <th>商品名</th>
          <th>仕入日</th>
          <th>仕入価格</th>
          <th>販売価格</th>
          <th>在庫数</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <footer>
      <button id="close">閉じる</button>
    </footer>
    <script type="module" src="../wwwroot/js/Views/stockList.js"></script>
  </body>
</html>
